@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after; {
	box-sizing: inherit;
}

.list-item {
	list-style: none;
}

form {
    background-color: lightsteelblue;
    padding: 1em;
}

label {
    display: block;
    text-align: center;
    color: dimgray;
    font-size: 1.5rem;
}

input {
    padding: 5px;
    border: 1px solid #fff;
}

button {
    background-color: lightgrey;
    padding: 5px;
    margin-left: -5px;
    background-color: cornsilk;
    border: 1px solid #fff;
    color: dimgray;
    text-decoration: none;
}

.button-holder {
    text-align: center;
}
    